# Author : Dubrovin Egor <dubrovin.en@ya.ru>
# Git Ignore for an obj files and builds
*.o
*.o.*
*.ko
*.ko.*
*.mod.*
*modules.order
*Module.symvers
*.tmp_versions

# Ignore special cpp OLD files
*.old.cpp

# Ignore all executable binaries tests
test*/test*